<!doctype html>
<html>
	<head>
	    <script src="/lib/jquery.min.js"></script>
	    <script src="/lib/bootstrap.min.js"></script>
	    <script src="/lib/socket.min.js"></script>
	    <script src="/client.js"></script>
	</head>

	<body>
		<h1>Welcome, <%= username %></h1>
		<div id="nav">
		  <p><a href="/protected/editProfile">Edit Profile</a></p>
		  <p><a href="/protected/whoIsAround">Check Which Neighbors Are Home</a></p>
		  <p><a href="/protected/addNeighbor">Add Neighbor (<%= request %>)</a></p>
		  <p><a href="/protected/contacts">Contacts</a></p>
		  <p><a href="/protected/messages">Messages</a></p>
		  
		  <p><input id="submission" value = "SOS" type="submit" data-username=<%= username %>></p>
		</div>
		<a href="/logout">Logout</a>
	</body>
</html>

